.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(48, 114, 220);
  padding: 10px 20px;
  width: 97%;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.navbar-links a:hover {
  text-decoration: underline;
}
input.search-input {
  margin-left: 3.1em;
}
.pixl-cloud {
  height: 44px;
  width: 269px;
  margin-left: 235px;
}
