.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
  grid-template-columns: 5, 1fr;
}

.photo-item {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 16%;
}

// .photo-item img {
//   width: 300px;
//   height: 300px;
//   object-fit: cover;
// }

.photo-info {
  margin-top: 8px;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .photo-item {
    width: 45%; /* Adjust width for smaller screens */
  }
}

@media (max-width: 480px) {
  .photo-item {
    width: 100%; /* Full width for very small screens */
  }
}
