.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
  grid-template-columns: 5, 1fr;
}

.photo-item {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  width: 16%;
}

.photo-item img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.photo-info {
  margin-top: 8px;
}
