.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1c1c1e;
  border-radius: 10px;
  color: white;
}

.signup-form h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #666;
  background-color: #333;
  color: #fff;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-left: 5px;
}

.signup-btn {
  width: 100%;
  padding: 10px;
  background-color: #1f2937;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.signup-btn:hover {
  background-color: #3f4a60;
}

.signin-link {
  text-align: center;
  margin: 20px 0;
}

.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.or-divider span {
  background-color: #1c1c1e;
  padding: 0 10px;
  font-size: 0.8rem;
}

.social-signup-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #666;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-signup-btn img {
  margin-right: 10px;
}

.social-signup-btn.google:hover {
  background-color: #3a72c9;
}

.social-signup-btn.facebook:hover {
  background-color: #4668b1;
}
.fa-google:before {
  content: "\f1a0";
  padding: 10px;
}

.fa-facebook:before {
  content: "\f09a";
  padding: 10px;
}